<div class="container">
<div class="row">
  <div id="side-menu"  class="col-sm-3">
    <h2>Categories Available</h2>
    <ol>
    <% @post.each do |c| %>
    <li><% c.title %></li>
    <% end %>
    </ol>
  </div><!-- side-menu -->

  <div id="main-content" class="col-sm-9">
  </div><!-- main-content -->

</div><!-- row -->
</div><!-- container -->
